<main>
  <h1>Todo List</h1>
  <form (ngSubmit)="addTodo()">
    <mat-form-field>
      <input matInput type="text" placeholder="Todo" [formControl]="todoForm.controls.name" autocomplete="off">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!todoForm.value.name.length">Add</button>
  </form>

  <div class="row">
    <div class="column">
      <h2><span [matBadge]="todos | counter:false" matBadgeOverlap="false">In Progress</span></h2>
      <mat-list>
        <ng-container *ngFor="let todo of todos; let i = index">
          <mat-list-item *ngIf="!todo.completed">
            <mat-checkbox (change)="todo.completed = true; updateTodos()">{{ todo.name }}</mat-checkbox>
            <button mat-icon-button color="warn" (click)="todos.splice(i, 1); updateTodos()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider *ngIf="!todo.completed"></mat-divider>
        </ng-container>
      </mat-list>
    </div>
    <div class="column">
      <h2><span [matBadge]="todos | counter:true" matBadgeOverlap="false">Completed</span></h2>

      <mat-list>
        <ng-container *ngFor="let todo of todos; let i = index">
          <mat-list-item *ngIf="todo.completed">
            <mat-checkbox (change)="todo.completed = false; updateTodos()" [checked]="todo.completed">{{ todo.name }}</mat-checkbox>
            <button mat-icon-button color="warn" (click)="todos.splice(i, 1); updateTodos()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider *ngIf="todo.completed"></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </div>





</main>
